<html>
    <head>
        <title>CRUD</title>
</head>
        <script src="ang.js"></script>
    </head>
    <body ng-app="myApp7">
        <h2>CRUD application to manage users</h2>
        <div ng-controller="ManageUsersCtrlr">
            Enter your name:<input type="text" id="name" ng-model="myName"/> 
            Enter your email:<input type="email" id="mailid" ng-model="myEmailid"/>
            <input type="button" value="Create" ng-click="create_user()"/><br><br>
            <ul>
                <li ng-repeat="user in users">
                    <span ng-show="!user.editing">{{user.name}}</span>
                    <input ng-show="user.editing" id="new_name" ng-model="user.name"/> 

                    <span ng-show="!user.editing">{{user.email}}</span>
                    <input type="email" ng-show="user.editing" id="new_mailid" ng-model="user.email"/>

                    <input type="button" value="Read" ng-click="view_user_details(user)"/>
                    <input type="button" value="Update" ng-click="update_user_details(user)"/>
                    <input type="button" value="Delete" ng-click="remove_user(user)"/>
                    
                </li>
            </ul>
        </div>
    </body>
</html>
<script>
    var manage = angular.module("myApp7",[]);
    manage.controller("ManageUsersCtrlr",function($scope){

        $scope.users = [];

        $scope.create_user=function()
        {
            if($scope.myName==null)
            {
                alert("please enter your name");
                document.getElementById("name").focus();
                return false;
            }
            else if($scope.myEmailid==null)
            {
                alert("please enter your email");
                document.getElementById("mailid").focus();
                return false;
            }
            else
            {
                var userdata = { "name": $scope.myName, "email" : $scope.myEmailid,'editing':false };
                if(userdata.name == "")
                {
                    alert("please enter your name");
                    document.getElementById("name").focus();
                    return false; 
                }
                else if(userdata.email == "")
                {
                    alert("please enter your email");
                    document.getElementById("mailid").focus();
                    return false;
                }
                else
                {
                    $scope.users.push(userdata);
                    $scope.myName=""
                    $scope.myEmailid=""
                }
            }
        }

        $scope.view_user_details=function(userdets)
        {
            userdets.editing=true;
        }
        
        $scope.update_user_details=function(userdets)
        {
            if(userdets.name=="")
            {
                alert("please enter your name");
                document.getElementById("new_name").focus();
                return false; 
            }
            else if(userdets.email=="")
            {
                alert("please enter your email");
                document.getElementById("new_mailid").focus();
                return false;
            }
            else
                userdets.editing=false;   
        }

        $scope.remove_user=function(userdets)
        {
            var doublecheck = confirm("are you sure you want to delete "+userdets.name+"?");
            if(doublecheck == true)
            {
                var idx = $scope.users.indexOf(userdets);
                $scope.users.splice(idx,1);
            }
            else{
                alert("you chose not to remove this user");
            }
        }
    });
</script>